body {
  background-attachment:fixed;
  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size:12px;
  height:100%;
  margin:0px;
  padding:20px;
  text-transform: uppercase;
  width:100%;
  background-color: #A7DBD8;
}


.tag {
  width: 20%;
  height: 150px;
  display: inline-block;
  vertical-align: top;
  font-size: 14pt;
  padding: 5px;
  margin: 5px;
  border: 1px solid #666;;
  background-color: #E0E4CC;
  position: relative;
}

.tag.expired {
  background-color: #FA6900;
}

.tag.expiring {
  background-color: #E7EA8B;
}

.tag .left {
  width: 80%;
  display: inline-block;
}

.tag .goodtill {
  position: absolute;
  font-size: 20pt;
  bottom: 10px;
  left: 10px;
}

.tag .percentage {
  display: inline-block;
  vertical-align: top;
  width: 15%;
  height: inherit;
}

.tag .percentage .bar {
  width: 100%;
  height: 8%;
  border: 1px solid #666;
  border-top: 0;
}

.tag .percentage .bar:first-child {
  border-top: 1px solid #666;
}


.edit {
  border: 1px solid #666;
  position: relative;
  padding: 10px;
  margin: 10px auto;
  width: 90%;
}

.edit.good {
  background-color: #E0E4CC;
}

.edit.close {
  background-color: #E7EA8B;
}

.edit.bad {
  background-color: #FA6900;
}

.edit input, .edit button, .edit span {
  font-size: 15pt;
  text-transform:uppercase;
}

.exit {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px 10px;
  border-bottom: 1px solid #666;
  border-left: 1px solid #666;
  background-color: #69D2E7;
}

.exit span {
  font-size: 40pt;
}

.row {
  width: 100%;
  padding: 25px 10px;
}

.row span {
  display: inline-block;
  width: 15%;
  vertical-align: top;
  text-align: right;
}

.row .field {
  display: inline-block;
  width: 80%;
  padding: 0 2%;
}

.row .field input {
  width: 86%;
}

.row .button {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border: 0;
  background-color: #A7DBD8;
  display: inline-block;
  font-size: 15pt;
  width: 25%;
}

.button.active, .bar.active {
  background-color: #69D2E7;
}

button.delete {
  background-color: #F38630;
  border: 0;
}

.row .bar {
  display: inline-block;
  width: 8%;
  height: 30px;
  border: 1px solid #A7DBD8;
}
